.create-modal-div{
    z-index: 1;
    display: flex;
    justify-content: center;
    position: absolute;
    height:100%;
    width: 100vw;
    backdrop-filter: blur(10px);
}
.create-dialog{
    width: 90%;
    max-width: 500px;
    min-height: 220px;
    height: fit-content;
    border-radius: 20px;
    padding: 40px;
    background: linear-gradient(180deg, rgba(89,57,89,0.6) 13%, rgba(91,78,119,0.6) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    flex-direction: column;
    box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.35);
    transition: 0.4s;
}
.create-dialog-down{
    position: absolute;
    top: 20%;
}
.create-dialog-up{
    position: absolute;
    top:-500px; 
}
.create-title{
    font-size: 24px;
    text-align: center;
    max-width: 60%;
}
.create-inputs-div{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.create-inputs-div input{
   color: black;
   padding: 5px 10px;
   border-radius: 10px;
   font-size: 16px;
   border: 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select{
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    border: 0px;
    outline: none;
    -webkit-appearance:button !important;
    -moz-appearance:button !important;
    appearance:button !important;
    cursor: pointer;
}
select *{
    color: black;
    cursor: pointer;
}
.create-buttons-div button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 10px;
    padding: 12px;
    width: 80px;
    font-size: 16px;
    color: black;
    transition: 0.2s;
    column-gap: 8px;
    font-weight: 500;
}
.create-buttons-div button:hover{
   scale: 1.1;
}
.create-buttons-div{
    display: flex;
    gap: 40px;
}
@media (max-width:1400px){
    .create-modal-div{
        height:1300px;
        width: 100vw;
    }
    .create-dialog-down{
        position: absolute;
        top: 10%;
    }
}