
@media (min-width: 1400px) and (max-width: 1625px){
 .chart-div{
    scale: 0.82;
 }
}
@media (min-width: 1024px) and (max-width: 1400px){
    .chart-div{
        scale: 1;
     }
}
@media (min-width: 800px) and (max-width:1024px) {
    .chart-div{
        scale: 0.75;
     }
}
@media (min-width: 600px) and (max-width:800px) {
    .chart-div{
        scale: 0.58;
     }
}
@media (min-width: 400px) and (max-width:600px) {
    .chart-div{
        scale: 0.37;
     }
}
@media (min-width: 200px) and (max-width:400px) {
    .chart-div{
        scale: 0.3;
     }
}