.card-div{
    cursor: pointer;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(152,193,217,1) 13%, rgba(91,78,119,1) 100%);
    width: 240px;
    height: 100px;
    transition: 0.2s;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
    
}
.card-div:hover{
    scale: 1.1;
}
.card-balance{
    /* border: 1px solid red; */
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95%;
    display: flex;
}
.card-name{
    overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  max-height: 3em; /* Adjust as needed */
  white-space: normal; /* Ensure white-space is set to normal */
  max-width: 95%;
  text-align: center;
  font-weight: 800;  
}
.balance-p{
    max-width: 95%;
    overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 2px;
}